/* link */
.link {
  color: darkblue;
}

.link:hover {
  background-color: darkblue;
  text-decoration: none;
  color: white;
}

/* tel_link */
.tel_link a[href^="tel:"] {
  color: darkblue;
}

.tel_link a[href^="tel:"]:hover {
  background-color: darkblue;
  text-decoration: none;
  color: white;
}

/* container */
.container {
  width: 90%;
  margin: 0 auto;
  font-family: "minion-pro", serif;
}

.container:before, .container:after { content: ""; display: table; }
.container:after { clear: both; }
.container { zoom: 1; }

@media (max-width: 1024px) {
  .container {
    font-size: 80%;
  }
}

@media (max-width: 767px) {
  .container {
    font-size: 50%;
  }
}

/* company_name */
.company_name {
  margin: .25em 0;
  font-size: 8em;
  font-weight: 400;
}

@media (max-width: 1024px) {
  .company_name {
    margin-bottom: .75em;
  }
}

@media (max-width: 767px) {
  .company_name {
    margin-bottom: .25em;
  }
}

@media (max-width: 460px) {
  .company_name {
    font-size: 5em;
  }
}

/* section */
.section {
  margin-bottom: 1em;
}

.section-header {
  margin: 0 0 .25em;
  font-size: 3em;
  font-style: italic;
}

@media (max-width: 1024px) {
  .section {
    margin-bottom: 3em;
  }
}

@media (max-width: 767px) {
  .section {
    margin-bottom: 1em;
  }

  .section-header {
    margin-bottom: 0;
  }
}

/* list */
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-item {
  margin-bottom: .25em;
  font-size: 3em;
}

/* cell */
.cell {
  float: left;
}

.cell--size-big {
  width: 60%;
}

.cell--size-small {
  width: 40%;
}

@media (orientation: portrait) {
  .cell {
    width: 100%;
    float: none;
  }
}
