a {
  color: darkblue;
}

a:hover {
  background-color: darkblue;
  text-decoration: none;
  color: white;
}

::selection {
  color: white;
  background-color: darkblue;
}

body {
  margin: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
  font-family: "minion-pro", serif;
}

/* container clearfix { */
.container:before, .container:after {
  content: "";
  display: table;
}

.container:after {
  clear: both;
}

.container {
  zoom: 1;
}
/* } container clearfix */

.company_name {
  margin: .25em 0;
  font-size: 8em;
  font-weight: 400;
}

.section_header {
  margin: 0 0 .25em;
  font-size: 3em;
  font-style: italic;
}

.contacts {
  width: 60%;
  float: left;
  margin-bottom: 1em;
}

.contacts-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts-item {
  margin-bottom: .25em;
  font-size: 3em;
}

.projects {
  width: 40%;
  float: right;
  margin-bottom: 1em;
}

.projects-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.projects-item {
  margin-bottom: .25em;
  font-size: 2.75em;
}

/* portrait */
@media (orientation: portrait) {
  .contacts, .projects {
    width: 100%;
    float: none;
  }
}

/* tablet */
@media (max-width: 1024px) {
  .container {
    font-size: 80%;
  }

  .company_name {
    margin-bottom: .75em;
  }

  .contacts, .projects {
    margin-bottom: 3em;
  }
}

/* phone */
@media (max-width: 767px) {
  .container {
    font-size: 50%;
  }

  .company_name {
    margin-bottom: .475em;
  }
}

/* portrait phone */
@media (max-width: 460px) {
  .company_name {
    font-size: 5em;
  }
}
